/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    line-height: 1.6;
    color: #333;
    /*max-width: 800px;*/
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
}

header {
    margin-bottom: 3rem;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #444;
}

p {
    font-size: 1.25rem;
    line-height: 1.2; /* A higher number usually looks better for Serif fonts */
    margin-bottom: 1.5rem;
    overflow-wrap: anywhere;
    hyphens: auto;
    word-break: break-all;
    text-align: left;
}

section {
    margin-bottom: 3rem;
}

/* Link Styling */
ul {
    list-style-type: none; /* Removes bullet points */
    padding-left: 2em;
}

li {
    margin-bottom: 0.1rem;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #0066cc;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

/* CV Button Styling */
.btn-download {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-download:hover {
    background-color: #555;
    text-decoration: none;
}

footer {
    font-size: 0.9rem;
    color: #777;
    margin-top: 4rem;
    border-top: 1px solid #eaeaea;
    padding-top: 1rem;
}

pre {
    background-color: #f4f4f4; /* Light gray background */
    padding: 1rem;             /* Space inside the box */
    border-radius: 5px;        /* Rounded corners */
    overflow-x: auto;          /* Adds a horizontal scrollbar if lines are too long */
    margin-bottom: 1.5rem;     /* Space below the code block */
    border: 1px solid #ddd;    /* Subtle border */
}

code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.95rem;        /* Code often looks better slightly smaller */
    color: #333;               /* Dark text color */
    overflow-wrap: anywhere;
}